.nav_link {
    text-align: right;
    margin: 10px;
}


#logo{
    object-fit: contain;
    object-position: center bottom;
    height: 92px;
}

#searchbar_container{
    padding: 20px;
    max-height: 160px;
}

#searchbar_wrap{
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding-top: 6px;
    position: relative;
}

#searchbar{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: white;
    border: 1px solid gray;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
}

input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

input[type="text"]{
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
}

/* adjusted */
.examples{
    color: gray;
    font-size: 11px;
}


.instructions{
    font-size: 12px;
    color: black;
    font-family: arial, sans-serif;
}

#as_button{
    height: 32px;
    font-size: 11px;
    font-weight: bold;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: white;
    border-radius: 2pt;
}