.nav_link {
    text-align: right;
    margin: 10px;
}
#container_large{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    height: calc(100% - 560px);
    max-height: 290px;
    flex-shrink: 0;
    box-sizing: border-box;
}

#container_medium{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: 198px;
}
#logo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
}

#searchbar_container{
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

#searchbar_wrap{
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding-top: 6px;
    position: relative;
}

#searchbar{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
}
#button{
    display: block;
    background-color: red;
    text-align: -webkit-center;
    unicode-bidi: isolate;
}

input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
